aiohttp==3.8.6
aiosignal==1.3.1
alibabacloud-credentials==0.3.2
alibabacloud-endpoint-util==0.0.3
alibabacloud-gateway-spi==0.0.1
alibabacloud-openapi-util==0.2.2
alibabacloud-sas20181203==2.8.1
alibabacloud-tea==0.3.3
alibabacloud-tea-console==0.0.1
alibabacloud-tea-openapi==0.3.7
alibabacloud-tea-util==0.3.11
alibabacloud-tea-xml==0.0.2
async-timeout==4.0.3
attrs==23.1.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.5
et-xmlfile==1.1.0
frozenlist==1.4.0
idna==3.4
multidict==6.0.4
numpy==1.26.1
openpyxl==3.1.2
pandas==2.1.2
pycparser==2.21
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
tzdata==2023.3
urllib3==2.0.7
yarl==1.9.2
